.header_wrapper {
    background-color: #a90909;
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

.link {
    font-family: 'Roboto';
    text-decoration: none;
    color: #fcc;
    margin-left: 20px;
}

.nav_wrapper {

}

.header_img {
    width: 55px;
}