.menu_title {
    font-family: 'roboto';
}

.section_title {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    background-color: #a00;
    text-align: center;
    width: 100%;
}

.section_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}